
<body style="height:100%" >
  <div class="fondo">
    <div style="padding-top: 50px; padding-bottom: 50px;">
      <div class="fotoPerfil2">
        <div class="fotoPerfil" >
          <img [src]=foto (click)="openModal()" >
        </div>
      </div>
      
    </div>
    <div>
      
      <input style="border:3px solid #c75142;" type="text" class="dato" id="idNombre" [disabled]="true">
      <input style="border:1px solid #c75142;" type="password" class="dato" id="idContrasena" disabled 
      style="font-size: 60px; font-weight: bolder;">
      <input style="border:1px solid #c75142;" type="text" class="dato" id="idCorreo" disabled>




      <button style="border:3px solid #6b7932;" class="dato" (click)="abrirModalCupon()" >
        Canjear cupón
      </button>
        <button id="idEditar" class="boton" (click)="editar()" style="margin-right: 5%; background-color:#81af4f;">
          Editar Datos
        </button>
        <button class="boton" (click)="cerrarSesion()" style="margin-left: 5%; background-color: #c75142;">
          Cerrar Sesión
        </button>
    </div>

    
    <div class="jw-modal-wrapper" id="idFondo">
  
      <div class="jw-modal">
        <div class="jw-modal-body">

          <div class="modal-top">
            <button class="botonCerrar"  (click)="cerrarModalFoto()">
              x
            </button>
            <p>Cambiar foto de perfil</p>

          </div>
          <div class="linea-punteada"></div>
          <div>
            <ion-grid>
              <ion-row>
                
                <ion-col size="6" *ngFor=" let imagen of imagenes" >
            
                  <div text-align= “center”> <img src="assets/fotosPerfil/{{imagen}}.png" class="foto" (click)="cambiarPerfil(imagen) ">
                    </div>
                </ion-col>
                  
            
              </ion-row>
            </ion-grid>
          </div>
            
            
     
        </div>
      </div>
      <div class="jw-modal-background">

      </div>
      
      </div>
  </div>
  
  <button routerLink="/perfil" class="botoncitoPerfil"></button>
  <button routerLink="/home" class="botoncitoHome"></button>
  <button routerLink="/categorias" class="botoncitoCategorias"></button>
  
<img src="/assets/botonesMenu/perfil.png" alt="" class="menu">
</body>

