.fondo{
    text-align:center;
    background-color: #f6f5f4;
    border:3px solid #f6f5f4;
    border-radius:40px;
    margin: 5%;
    height: 93%;
    

}
.fotoPerfil{
    width: 150px;
    height: 150px;
    margin:0px auto;
    border:10px solid white ;
    border-radius:50%;
}
.fotoPerfil2{
    width: 154px;
    height: 154px;
    margin:0px auto;
    border:2px solid #d7e6a3 ;
    border-radius:50%;
}
.dato{
    color:black;
    border-radius:18px;
    height: 50px;
    background-color:#f6f5f4;
    text-align: center;
    margin: 15px;
    width: 80%;
}
.boton{
    border:2px solid;
    color: white;
    border-radius:18px;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 35%;
}
.menu{
    width: 50%;
    position:absolute; 
    left:25%; 
    right:25%; 
    bottom:0px;
}





body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
.jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;

   
}
.jw-modal-body {
    background: white;
    width: 70%;
    height: 60%;

    /* margin exposes part of the modal background */
    margin: 15%;
    margin-top: 45%;
    border:0px solid #f6f5f4;
    border-radius:30px;
    
}
.jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
    
    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
}
.jw-modal-wrapper{
    display: none;
}
.modal-top{
    border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -webkit-border-radius: 30px 30px 0px 0px;
    background-color: #81af4f;
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
}
.linea-punteada{
    height: 25px;
    border-bottom-style: dotted; 
    border-bottom-width: 5px;
    margin-bottom: 20px;
}
.foto{
    width: 80px;
    height: 80px;
    display:block;
    margin:auto;
}
.botonCerrar{
    border-radius: 0px 30px 0px 0px;
    -moz-border-radius: 0px 30px 0px 0px;
    -webkit-border-radius: 0px 30px 0px 0px;
    background-color: #81af4f;
    height: 5%;
    width: 40px;
    right: 15%;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;

}
.botoncitoPerfil{
    position: absolute;
    height: 40px;
    width: 40px;
    //opacity: 0;
    background-color: green;
    border-radius: 50%;
    margin-top: -18%;
    margin-left: 61%;
    z-index: 100
}
.botoncitoHome{
    position: absolute;
    height: 40px;
    width: 40px;
    //opacity: 0;
    background-color: blue;
    border-radius: 50%;
    z-index: 100;
    margin-top: -25%;
    margin-left: 45%;
}
.botoncitoCategorias{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: red;
    //opacity: 0;
    border-radius: 50%;
    margin-top: -18%;
    margin-left: 29%;
    z-index: 100
}