<ion-header class="ion-no-border header">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button class="cls-button" color="dark" defaultHref="/tablinks/categorias">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="contenido">
  <div class="fondo">
      <img src="/assets/categoriaSeleccionada/0.png" >
      <div class="foto">
        <img [src]=foto  >
      </div>
      <div class="titulo">
        {{categoriaNombre}}
      </div>
      <div class="linea-punteada"></div>
      <ion-img class="publicidad" src="/assets/publicidad/aurrera.png">
        <!--<img src="/assets/categoriaSeleccionada/publicidad.png" >-->
      </ion-img>
        <div class="wrapper" >
              <div class="element" *ngFor=" let producto of productos; " size="4" (click)="seleccionarProducto(producto.id)"  routerLink="/producto">
                <div class="container-img">
                    <ion-img src=" {{producto.imagen_rt}}"></ion-img>
                  </div>
                  <ion-row class="tnombre">
                    {{producto.nombre}} 
                  </ion-row>
              </div>
        </div>
  </div>
</ion-content>

