
<body style="height:100%" >
  <div class="fondo">
      <img src="/assets/categoriaSeleccionada/0.png" >
      <div class="foto">
        <img [src]=foto  >
      </div>
      <div class="titulo">
        {{categoriaNombre}}
      </div>
      <div class="linea-punteada"></div>
      <div class="publicidad">
        <!--<img src="/assets/categoriaSeleccionada/publicidad.png" >-->
      </div>

      <ion-content class="bloque">
        <ion-grid class="extra">
          <ion-row  class="extra">
            <ion-col size="4" *ngFor=" let producto of productos">


            <div class="card" (click)="seleccionarProducto(producto.id)"  routerLink="/producto" >
              <div text-align= “center” > <img src=" {{producto.imagen_rt}}">
              </div>
              <div style="font-family:OpenSans-SemiBold;">{{producto.nombre}}</div>
            </div>
               

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
      
  </div>
  
  <button routerLink="/inicio-sesion" class="botoncitoPerfil"></button>
  <button routerLink="/home" class="botoncitoHome"></button>
  <button routerLink="/categoria-seleccionada" class="botoncitoCategorias"></button>
  
<img src="/assets/botonesMenu/categorias.png" alt="" class="menu">
</body>

