.fondo{
    position:absolute;
    text-align:center;
    background-color: #f6f5f4;
    border:3px solid #f6f5f4;
    border-radius:40px;
    margin: 5%;
    height: 93%;
}
.foto{
    margin:0px auto;
    width: 90px;
    margin-top: -28%;
}
.menu{
    width: 50%;
    position:absolute; 
    left:25%; 
    right:25%; 
    bottom:0px;
}
.titulo{
    margin-top: 10px;
    color: #81af4f;
    font-size: 20px;
    font-weight: bolder;
}
.publicidad{
    background-color: white;
    height: 15%;
    border-radius: 22px;
    margin-bottom: 20px;
}

.linea-punteada{
    height: 25px;
    border-bottom-style: dotted; 
    border-bottom-width: 5px;
    margin-bottom: 20px;
}
.botoncitoPerfil{
    position: absolute;
    height: 40px;
    width: 40px;
    //opacity: 0;
    background-color: green;
    border-radius: 50%;
    margin-top: 193%;
    margin-left: 61%;
    z-index: 100
}
.botoncitoHome{
    position: absolute;
    height: 40px;
    width: 40px;
    //opacity: 0;
    background-color: blue;
    border-radius: 50%;
    z-index: 100;
    margin-top: 186%;
    margin-left: 45%;
}
.botoncitoCategorias{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: red;
    //opacity: 0;
    border-radius: 50%;
    margin-top: 193%;
    margin-left: 29%;
    z-index: 100
}

.card{

    border-radius: 10px;
    background-color:white;
    margin: 5px;
    padding: 5px;
}
.bloque{
    background-color: #f6f5f4;
    border-radius:40px;
    height: 50%;
    margin: 50px;
    

}
.extra{
    background-color: #f6f5f4;
}