.header{
    position: absolute;
}
.cls-button {
    border-radius: 50%;
    --box-shadow:none;
    --background: #d7e6a3!important;
}
.contenido{
    --background: white!important;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}
.fondo{
    background-color: #f6f5f4;
    margin: 25px;
    border-radius: 35px;
    overflow: auto;
}
.foto{
    margin:0px auto;
    width: 90px;
    margin-top: -28%;
}
.titulo{
    font-family:Cocogoose-Bold;
    margin-top: 10px;
    color: #81af4f;
    font-size: 20px;
    text-align: center;
}
.publicidad{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.linea-punteada{
    height: 15px;
    border-bottom-style: dotted; 
    border-bottom-width: 5px;
    margin-bottom: 5%;
}
.element{
    margin: 5px!important;
    border: 1px solid white;
    border-radius: 20px;
    background-color: f6f5f4;
    padding: 0;
    overflow: hidden;
  }
  .tnombre{
    color: #c75142;
    font-family: Cocogoose-Light;
    font-size: 11px;
    text-align: center;
    margin: 5px;
  }.container-img{
    overflow: hidden;
    border-radius: 0 0 20px 20px ;
    background-color: #f6f5f4;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 0 1%;
    margin: 5% 0;
  }