<ion-header class="ion-no-border header">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button class="cls-button" color="dark" defaultHref="" icon="close" (click)="cancelar()">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<body style="height:100%" >
  <div class="fondo">
    <p class="titulo">Canjear cupón</p>
    <div class="texto">
      <p>Usted cuenta con: 
        <span style="font-family:Opensans-Bold; font-size: 20px; ">{{puntos}} puntos</span>
        lo que equivale a: 
        <span style=" font-family:Opensans-Bold; font-size: 20px; ">{{dinero | currency}} MXN</span>.
      </p>
      
      <p> Si desea cambiarlos presione el botón "canjear puntos", para generar el cupón de descuento
        que puede mostrar en los siguinetes establecimientos: </p>
      <p>- La Comer
        <br>
        - Bodega Aurrera
        <br>
        - Soriana</p>
      <p style="font-size: 14px">Al canjear el cupón de descuento, los puntos se restarán de su cuenta por lo que le recomendamos tomar captura de pantalla o anotar el código del cupón.</p>
    </div>
    <ion-button class="boton" (click)="aceptar()" style=" --background:#81af4f;">
      Canjear cupón
    </ion-button>
    <ion-button class="boton" (click)="cancelar()" style=" --background: #c75142;">
      Cancelar
    </ion-button>

  </div>

</body>




