<body style="height:100%; "  >
  <div class="fondo" id="fondo">
    <img class="logo" src="/assets/fondo/logo.png" alt="">
      <div class="titulo">
        <div class="icono">
          <ion-icon name="person" style="color: #c75142; "></ion-icon>  
        </div>
          CORREO
      </div>
      <ion-input type="text" class="dato" id="nombreId"></ion-input>
      <div class="titulo">
        <div class="icono">
          <ion-icon name="lock-closed" style="color: #c75142; "></ion-icon>
        </div>
          CONTRASEÑA
      </div>
      <ion-input type="password" class="dato" id="contraId"
      style="font-size: 20px; font-weight: bolder;"></ion-input>
      <ion-button  class="boton" (click)="iniciarSesion()">
        Iniciar sesión
      </ion-button>
      <div class="texto">
        Aún no tengo cuenta. 
        <a routerLink='/registro' style="color: #c75142; font-family: Cocogoose-Bold; text-decoration: none;">Registrarme</a>
      </div>
  </div>
</body>

