
<body style="height:100%" >
  <div class="fondo">

      <img class="logo" src="/assets/fondo/logo.png" alt="">
      <div class="titulo">
        <div class="icono">
          <ion-icon name="person" style="color: #c75142; "></ion-icon>  
        </div>
          CORREO
      </div>
      <input type="text" class="dato" id="nombreId">
      <div class="titulo">
      
        <div class="icono">
        
          <ion-icon name="lock-closed" style="color: #c75142; "></ion-icon>
          
        </div>
        
          CONTRASEÑA
      </div>
      <input type="password" class="dato" id="contraId"
      style="font-size: 60px; font-weight: bolder;">

      <div class="boton" (click)="iniciarSesion()">
        Iniciar sesión
      </div>
      <div class="texto">
        
      Aún no tengo cuenta <a href="registro" style="color: #c75142; font-family: Cocogoose-Bold; font-size: 16px;"> Registrarme</a>

      </div>
  </div>
</body>

