<ion-header class="ion-no-border header">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button class="cls-button" color="dark" defaultHref="" icon="close" (click)="dismiss()">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="contenido">
  <div class="container-gris">
    <div class="franja-roja"></div>
    <div class="container-circulo">
      <div class="circulo" >
        <fa-icon class="icono" icon="dollar-sign" size=3x></fa-icon>
      </div>
    </div>
    <h2 class="titulo">PRECIOS</h2>
    <ion-img  class="publicidad" src="{{this.banner_publicidad}}"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col class="container-banner" size= "7">
          <ion-img class="banners" src="{{this.banner_comer}}"></ion-img>
        </ion-col>
        <ion-col class="container-precio">
          <ng-container *ngIf="this.user_id; else login">
            <ng-container *ngIf="this.precio_comer != 0; else soloSugerirComer">
              <p class="precio">{{this.precio_comer | currency}} MXN</p>
              <ion-button class=" botonSugerirPrecio" fill="clear" size="small" (click)="sugerir('comer', this.producto_id, this.user_id, dataService)">SUGERIR PRECIO</ion-button>
            </ng-container>
            <ng-template #soloSugerirComer >
              <ion-button class="botonSugerirPrecio soloSugerir" fill="clear" size="small" expand="full" (click)="sugerir('comer', this.producto_id, this.user_id, dataService)">SUGERIR PRECIO</ion-button>
            </ng-template>
          </ng-container>
          <ng-template #login>logeate, ese</ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="container-banner" size= "7">
          <ion-img class="banners" src="{{this.banner_soriana}}"></ion-img>
        </ion-col>
        <ion-col class="container-precio">
          <ng-container *ngIf="this.user_id; else login2">
            <ng-container *ngIf="this.precio_soriana != 0; else soloSugerirSoriana">
              <p class="precio">{{this.precio_soriana | currency}} MXN</p>
              <ion-button class=" botonSugerirPrecio" fill="clear" size="small"  (click)="sugerir('soriana', this.producto_id, this.user_id, dataService)">SUGERIR PRECIO</ion-button>
            </ng-container>
            <ng-template #soloSugerirSoriana>
              <ion-button class="botonSugerirPrecio soloSugerir" fill="clear" size="small" expand="full" (click)="sugerir('soriana', this.producto_id, this.user_id, dataService)">SUGERIR PRECIO</ion-button>
            </ng-template>
          </ng-container>
          <ng-template #login2>logeate, ese</ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="container-banner" size= "7">
          <ion-img class="banners" src="{{this.banner_aurrera}}"></ion-img>
        </ion-col>
        <ion-col class="container-precio">
          <ng-container *ngIf="this.user_id; else login3">
            <ng-container *ngIf="this.precio_aurrera != 0; else soloSugerirAurrera">
              <p class="precio">{{this.precio_aurrera | currency}} MXN</p>
              <ion-button class=" botonSugerirPrecio" fill="clear" size="small" (click)="sugerir('aurrera', this.producto_id, this.user_id, dataService)">SUGERIR PRECIO</ion-button>
            </ng-container>
            <ng-template #soloSugerirAurrera>
              <ion-button class="botonSugerirPrecio soloSugerir" fill="clear" size="small" expand="full" (click)="sugerir('aurrera', this.producto_id, this.user_id, dataService)">SUGERIR PRECIO</ion-button>
            </ng-template>
          </ng-container>
          <ng-template #login3>logeate, ese</ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
  <!-- The Modal -->
  <ion-item lines="none" id="myModal" class="modal" color="transparent">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h2>Sugerir precio nuevo</h2>
      </div>
      <div class="modal-body">
          <ion-label class="ion-text-wrap">Nuevo precio para {{nombre}} ({{tamano}})</ion-label>
          <ion-input id="precio" type="number" clear-input autofocus inputmode="decimal"></ion-input>
          <div class="container-buttons">
            <div class="container-aceptar">
              <ion-button id="aceptar">Aceptar</ion-button>
            </div>
            <div class="container-cancelar">
              <ion-button id="cancelar">Cancelar</ion-button>
            </div>
          </div>
      </div>
    </div>
  </ion-item>