.fondo{
    position: relative;
    text-align:center;
    border-radius:35px;
    margin: 5%;
    height: 95%;
    z-index: 1;
    background-color: #f6f5f4;
}
.franja{
    border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -webkit-border-radius: 30px 30px 0px 0px;
    background-color: #81af4f;
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    font-family:  Cocogoose-Bold;
    font-size: 20px;
}
.linea-punteada{
    height: 25px;
    border-bottom-style: dotted; 
    border-bottom-width: 5px;
    margin-bottom: 20px;
    color: black;
}

.botoncitoPerfil{
    position: absolute;
    height: 40px;
    width: 40px;
    //opacity: 0;
    background-color: green;
    border-radius: 50%;
    margin-top: -10vh;
    margin-left: 61%;
    z-index: 100
}
.botoncitoHome{
    position: absolute;
    height: 40px;
    width: 40px;
    //opacity: 0;
    background-color: blue;
    border-radius: 50%;
    z-index: 100;
    margin-top: -13vh;
    margin-left: 45%;
}
.botoncitoCategorias{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: red;
    //opacity: 0;
    border-radius: 50%;
    margin-top: -10vh;
    margin-left: 29%;
    z-index: 100
}
.menu{
    width: 50%;
    position:absolute; 
    left:25%; 
    right:25%; 
    bottom:0px;
    z-index: 90;
}
.fondoCategorias{

    position: absolute;
    text-align:center;
    margin-top: 6vh;
    margin-left: 5vw;
    height: 20vh;
    width: 80vw;
}
.titulo{
font-family:OpenSans-Regular;
color: #81af4f;
font-size: 12px;
}
.foto{
    margin-top: 3vh;
    margin-left: 2.4vw;
    width: 8vh;
    z-index: 10;
    margin-bottom: 1vh;
}