.fondo{
    background-color: #f6f5f4;
    margin: 25px;
    border-radius: 35px;
    overflow: auto;
  }
  .franja-verde {
    background-color: #81af4f;
    width: 100%;
    height: 70px;
    border-radius: 35px 35px 0 0;
  }
  .text{
    font-size: 18px;
    font-family: Cocogoose-Bold;
    padding-top: 8%;
    margin:0!important;
    text-align:center;
    color: white;
  }
  .linea-punteada{
    height: 20px;
    border-bottom-style: dotted; 
    border-bottom-width: 5px;
    margin-bottom: 5%;
    }
.fondoCategorias{
    margin-bottom: 30px;
    text-align:center;
    z-index: 2;
    background: url('../../assets/categoriaSeleccionada/fondoCategorias.png')center / 90% no-repeat;
}
.titulo{
    font-family:OpenSans-Regular;
    color: #81af4f;
    font-size: 12px;
}
.foto{
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    width:  70%;
    vertical-align: middle;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}