<ion-content overflow-scroll="false" [fullscreen]="true" style="--background: white; ">
  <div class="fondo">
    <div class="franja-verde">
      <p class="text">
        ¿QUIZÁ POR TEMÁTICA?
      </p>
    </div>  
    <div class="linea-punteada"></div>
<ion-grid>
  <ion-row class="fondoCategorias">
    <ion-col size="4">
      <span class="helper"></span><img src="assets/categoriaSeleccionada/1.png" class="foto" (click)="seleccionarCategoria(1) ">
      <div class="titulo">
        LÁCTEOS Y REFRIGERADOS
      </div>
    </ion-col>
    <ion-col size="4">
            
      <span class="helper"></span><img src="assets/categoriaSeleccionada/2.png" class="foto" (click)="seleccionarCategoria(2) ">
      <div class="titulo">
        BEBIDAS
      </div>
    </ion-col>
    <ion-col size="4">
            
      <span class="helper"></span><img src="assets/categoriaSeleccionada/3.png" class="foto" (click)="seleccionarCategoria(3) ">
      <div class="titulo">
        BOTANAS
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="fondoCategorias">
    <ion-col size="4">
      <span class="helper"></span><img src="assets/categoriaSeleccionada/4.png" class="foto" (click)="seleccionarCategoria(4) ">
      <div class="titulo">
        DULCES
      </div>
    </ion-col>
    <ion-col size="4">
            
      <span class="helper"></span><img src="assets/categoriaSeleccionada/5.png" class="foto" (click)="seleccionarCategoria(5) ">
      <div class="titulo">
        BEBÉS
      </div>
    </ion-col>
    <ion-col size="4">
            
      <span class="helper"></span><img src="assets/categoriaSeleccionada/6.png" class="foto" (click)="seleccionarCategoria(6) ">
      <div class="titulo">
        CEREALES
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="fondoCategorias">
    <ion-col size="4">
        <span class="helper"></span><img src="assets/categoriaSeleccionada/7.png" class="foto" (click)="seleccionarCategoria(7) ">
      
      <div class="titulo">
        SALCHICHONERÍA Y CARNES
      </div>
    </ion-col>
    <ion-col size="4">
        <span class="helper"></span><img src="assets/categoriaSeleccionada/8.png" class="foto" (click)="seleccionarCategoria(8) ">
        <div class="titulo">
        ENLATADOS Y CONSERVAS
      </div>
    </ion-col>
    <ion-col size="4">
            
        <span class="helper"></span><img src="assets/categoriaSeleccionada/9.png" class="foto" (click)="seleccionarCategoria(9) ">
        <div class="titulo">
        ALIMENTOS SALUDABLES
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

        
    <!-- <ion-grid>
      <ng-container *ngFor="let item of map | keyvalue">
        <ion-col size="4">
          
          <div text-align= “center” class="foto"> 
            <img src="assets/categoriaSeleccionada/{{item.key}}.png" class="foto" (click)="seleccionarCategoria(item.key) ">
          </div>
          <div class="titulo">
            {{item.value}}
          </div>
        </ion-col>
          
    </ng-container>
    </ion-grid> -->
  </div>
</ion-content>
