<body style="height:100%; "  >
  <div class="fondo" id="fondo">
    <div class="franja">
      REGISTRO
    </div>  
    <div class="linea-punteada"></div>
    <div class="fotoPerfil2">
      <div class="fotoPerfil" >
        <img [src]=foto (click)="openModal()" >
      </div>
    </div>
    <div class="titulo">
      <div class="icono">
        <ion-icon name="person" style="color: #c75142; "></ion-icon>  
      </div>
        NOMBRE DE USUARIO
    </div>
    <ion-input type="text" class="dato" id="nombreId"></ion-input>
    <div class="titulo">
      <div class="icono">
        <ion-icon name="mail" style="color: #c75142; "></ion-icon>  
      </div>
        CORREO
    </div>
    <ion-input type="text" class="dato" id="correoId"></ion-input>
      <div class="titulo">
        <div class="icono">
          <ion-icon name="lock-closed" style="color: #c75142; "></ion-icon>
        </div>
          CONTRASEÑA
      </div>
      <ion-input type="password" class="dato" id="contraId"
      style="font-size: 20px; font-weight: bolder;"></ion-input>
      <ion-button class="boton" (click)="registrar()">
        Registrarme
      </ion-button>
      <div class="texto">
        Ya tengo cuenta. <a routerLink="/inicio-sesion" style="color: #c75142; font-family: Cocogoose-Bold; text-decoration: none">Iniciar Sesión</a>
      </div>
  </div>
</body>
<div class="jw-modal-wrapper" id="idFondo">
  <div class="jw-modal">
    <div class="jw-modal-body">
      <div class="modal-top">
        <button class="botonCerrar"  (click)="cerrarModalFoto()">
          x
        </button>
        <p>Elegir avatar</p>
      </div>
      <div class="linea-punteada2"></div>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor=" let imagen of imagenes" >
              <div text-align= “center”> <img src="assets/fotosPerfil/{{imagen}}.png" class="foto" (click)="cambiarPerfil(imagen) ">
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    </div>
    <div class="jw-modal-background">
  </div>
</div>